
#container {
background-color: rgb(201, 201, 201);
width           : 100%;
font-weight     : bold;
        }
        
        
#container_logo {
color           : white;
font-weight     : bold;
background-color: rgb(114, 40, 40);
width           : 100%;
    }
 

#container_general {

background-color: rgb(228, 233, 236);
width           : 70%;
    }

    #container_navbar{
        color           : white;
        font-weight     : bold;
        background-color: rgb(114, 40, 40);

    }

    #container_footer{
        color           : white;
        background-color: rgb(114, 40, 40);
        font-weight     : bold;
    }
   